@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&family=Work+Sans&display=swap');
/*font-family: 'Space Grotesk', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* font-family: 'Work Sans', sans-serif;*/
@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy/gilroy-regular.ttf) format("truetype");
	src: url(../fonts/Gilroy/gilroy-bold.ttf) format("truetype");
	src: url(../fonts/Gilroy/gilroy-semibold.ttf) format("truetype");
}